[submodule "frontend"]
	path = frontend
	url = git@github.com:request-2/frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:request-2/backend.git
[submodule "docker"]
	path = docker
	url = git@github.com:request-2/docker.git
